p{
    border: solid;
    margin: 20px;
}

h1{
    border: solid;
    margin: 20px;
}

h2{
    border: solid;
    padding: 5px 25px 50px 10px;
}
h3{
    border: solid;
    margin: 15px 5px 100px 20px;
}
