h1{
    display: inline;
    background-color: yellow;
}
h1:hover{
    background-color: rgb(18, 214, 18);
    transition:all 1s ;
}
h1:active{
    background-color: red;
}
footer{
    display: inline;
}
footer:hover{
    background-color: rgb(26, 185, 26);
}
button{
    background-color: yellow;
}
button:hover{
    background-color: rgb(26, 185, 26);
    transition:all 1s;
}
button:active{
    background-color: red;
}